@model IEnumerable<FrituurOpDeHoekMVC.Models.Product>

@{
    ViewData["Title"] = "Bestellen";
}

<h1>Kies uw producten</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Product")
            </th>
            <th>
                @Html.DisplayName("Beschrijving")
            </th>
            <th>
                @Html.DisplayName("Prijs")
            </th>
            <th>
                @Html.DisplayName("Categorie")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                    <a type="button" class="btn btn-primary" asp-action="AddProductToOrder" asp-route-id="@item.Id">Toevoegen</a> 
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a class="btn btn-primary" asp-action="ViewCurrentOrder">Bestelling bekijken</a>
</div>
